<div class="panel panel-default">
    <div class="panel-heading">
        <button class="pull-right btn btn-success btn-fab" ng-click="classListCtrl.openModalForNewClass()" title="Add new class"><i class="material-icons">add</i></button>
        <h2>Class List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <th>#id</th>
                    <th>description</th>
                    <th>year</th>
                    <th class="text-center">actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="class in classListCtrl.classes">
                    <td>{{class.id}}</td>
                    <td>{{class.description}}</td>
                    <td>{{class.year}}</td>
                    <td class="btn-group-xs btn-group-raised col-lg-2 text-center">
                        <button class="btn btn-primary" ng-click="classListCtrl.openModalForClassEditing(class)"><i class="material-icons">edit</i></button>
                        <button class="btn btn-danger" ng-click="classListCtrl.removeClass(class)"><i class="material-icons">remove</i></button>
                    </td>
                </tr>
                <tr ng-if="!classListCtrl.hasClasses()">
                    <td colspan="4" class="text-center text-primary"><strong>There is no classes to list</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        
    </div>
</div>